<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h1>한동대학교 멋쟁이사자처럼</h1>
<main>
    <img style="width: 40%; height: auto; padding: 20px;" th:src="@{/likelion-hgu.png}" alt="fish">

    <div class="container">
        <div th:if="${#strings.isEmpty(name)}">
            <form id="myForm" th:action="@{/form}" method="get">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name">
                <button type="submit">Say Hello</button>
            </form>
        </div>
        <div th:if="${not #strings.isEmpty(name)}">
            <div id="message">
                <h2 th:text="'Hello, ' + ${name}"></h2>
            </div>
            <button type="button">
                <a th:href="@{/}">Retry</a>
            </button>
        </div>
    </div>
</main>
<script th:src="@{/script.js}"></script>
</body>
</html>
